<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= day %>

    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit">Submit</button>
    </form>

    <ul>
        <% for(var i = 0; i < items.length; i++) { %>
            <li><%= items[i]%></li>
        <% } %>
    </ul>
</body>
</html>